* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #fff;
  padding: 24px 156px;
  margin: 0 auto;
  width: 1440px;
}
ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 24px;
  padding-inline-start: 0;
}
.gallery-item {
  width: 360px;
}
.gallery-image {
  width: 100%;
  height: 100%;
}
.hidden-scroll {
  padding-right: 0 !important;
}
